@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Benguiat';
    src: url('/fonts/Benguiat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'I Love Glitter';
    src: url('/fonts/I-Love-Glitter.woff') format('woff');
}

@font-face {
    font-family: 'Tinplate Titling Black';
    src: url('/fonts/Tinplate-Titling-Black.woff') format('woff');
}

@font-face {
    font-family: 'Zapf Humanist';
    src: url('/fonts/Zapf-Humanist.woff') format('woff');
}
