@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Base Styles & Animations --- */
:root {
    --main-bg: #f8fafc;
    --sidebar-bg: #0f172a;
    --card-bg: #fff;
    --accent: #2563eb;
    --radius: 1.5rem;
}

body {
    background: var(--main-bg);
}

.animate-fade-in {
    animation: fade-in 0.35s cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(32px) scale(0.98);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@font-face {
    font-family: 'Alumni Sans Black';
    src: url('/fonts/AlumniSans-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans Bold';
    src: url('/fonts/AlumniSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans ExtraBold';
    src: url('/fonts/AlumniSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans Italic';
    src: url('/fonts/AlumniSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans Light';
    src: url('/fonts/AlumniSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans Light Italic';
    src: url('/fonts/AlumniSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans Medium';
    src: url('/fonts/AlumniSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans Medium Italic';
    src: url('/fonts/AlumniSans-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans Regular';
    src: url('/fonts/AlumniSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans SemiBold';
    src: url('/fonts/AlumniSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Alumni Sans SemiBold Italic';
    src: url('/fonts/AlumniSans-SemiBoldItalic.ttf') format('truetype');
}

/* --- Amatic SC --- */
@font-face {
    font-family: 'Amatic SC Bold';
    src: url('/fonts/AmaticSC-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Amatic SC Regular';
    src: url('/fonts/AmaticSC-Regular.ttf') format('truetype');
}

/* --- Amazone --- */
@font-face {
    font-family: 'Amazone BT';
    src: url('/fonts/AmazonRg_0.ttf') format('truetype');
}

/* --- Arial --- */
@font-face {
    font-family: 'Arial';
    src: url('/fonts/arial.ttf') format('truetype');
}

@font-face {
    font-family: 'Arial Bold';
    src: url('/fonts/arialbd.ttf') format('truetype');
}

@font-face {
    font-family: 'Arial Bold Italic';
    src: url('/fonts/arialbi.ttf') format('truetype');
}

@font-face {
    font-family: 'Arial Italic';
    src: url('/fonts/ariali.ttf') format('truetype');
}

/* --- Bebas Neue --- */
@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('/fonts/Bebas Neue Regular 400.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('/fonts/BebasNeue-Bold.otf') format('opentype');
}

/* --- Benguiat --- */
@font-face {
    font-family: 'Benguiat Bold BT';
    src: url('/fonts/BENGUIAB.TTF') format('truetype');
}

@font-face {
    font-family: 'Benguiat';
    src: url('/fonts/Benguiat.ttf') format('truetype');
}

@font-face {
    font-family: 'Benguiat Book Italic BT';
    src: url('/fonts/benguini.ttf') format('truetype');
}

/* --- BlackChancery --- */
@font-face {
    font-family: 'BlackChancery';
    src: url('/fonts/BLKCHCRY.TTF') format('truetype');
}

/* --- Bookman Old Style --- */
@font-face {
    font-family: 'Bookman Old Style Bold';
    src: url('/fonts/BOOKOSB.TTF') format('truetype');
}

@font-face {
    font-family: 'Bookman Old Style Bold Italic';
    src: url('/fonts/BOOKOSBI.TTF') format('truetype');
}

@font-face {
    font-family: 'Bookman Old Style Italic';
    src: url('/fonts/BOOKOSI.TTF') format('truetype');
}

/* --- Berlin Sans --- */
@font-face {
    font-family: 'Berlin Sans FB Bold';
    src: url('/fonts/BRLNSB.TTF') format('truetype');
}

@font-face {
    font-family: 'Berlin Sans FB';
    src: url('/fonts/BRLNSR.TTF') format('truetype');
}

/* --- Calibri --- */
@font-face {
    font-family: 'Calibri';
    src: url('/fonts/CALIBRI.TTF') format('truetype');
}

@font-face {
    font-family: 'Calibri Bold';
    src: url('/fonts/CALIBRIB_0.TTF') format('truetype');
}

@font-face {
    font-family: 'Calibri Italic';
    src: url('/fonts/CALIBRII.TTF') format('truetype');
}

/* --- Century Schoolbook --- */
@font-face {
    font-family: 'Century Schoolbook';
    src: url('/fonts/CENSCBK.TTF') format('truetype');
}

@font-face {
    font-family: 'Century Schoolbook Bold';
    src: url('/fonts/SCHLBKB.TTF') format('truetype');
}

@font-face {
    font-family: 'Century Schoolbook Bold Italic';
    src: url('/fonts/SCHLBKBI.TTF') format('truetype');
}


/* --- Century Gothic --- */
@font-face {
    font-family: 'Century Gothic Paneuropean Bold';
    src: url('/fonts/CenturyGothicPaneuropeanBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Century Gothic Paneuropean Bold Italic';
    src: url('/fonts/CenturyGothicPaneuropeanBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Century Gothic Paneuropean';
    src: url('/fonts/CenturyGothicPaneuropeanRegular.ttf') format('truetype');
}

/* --- Clicker Script --- */
@font-face {
    font-family: 'Clicker Script';
    src: url('/fonts/ClickerScript-Regular.ttf') format('truetype');
}

/* --- Collegiate --- */
@font-face {
    font-family: 'CollegiateBlackFLF';
    src: url('/fonts/CollegiateBlackFLF.ttf') format('truetype');
}

@font-face {
    font-family: 'CollegiateOutlineFLF';
    src: url('/fonts/CollegiateOutlineFLF.ttf') format('truetype');
}

/* --- Concerto Pro --- */
@font-face {
    font-family: 'ConcertoPro-Regular';
    src: url('/fonts/concertoproregular.ttf') format('truetype');
}

/* --- Copperplate --- */
@font-face {
    font-family: 'CopprplGoth BT Roman';
    src: url('/fonts/Copperplate Gothic.ttf') format('truetype');
}

/* --- Courgette --- */
@font-face {
    font-family: 'Courgette Regular';
    src: url('/fonts/Courgette-Regular.ttf') format('truetype');
}

/* --- Cowboy Rodeo --- */
@font-face {
    font-family: 'Cowboy Rodeo W01 Regular';
    src: url('/fonts/Cowboy Rodeo W01 Regular.ttf') format('truetype');
}

/* --- Cutive Mono --- */
@font-face {
    font-family: 'Cutive Mono Regular';
    src: url('/fonts/CutiveMono-Regular.ttf') format('truetype');
}

/* --- DejaVu Serif --- */
@font-face {
    font-family: 'DejaVu Serif Bold';
    src: url('/fonts/DejaVuSerif-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DejaVu Serif Bold Italic';
    src: url('/fonts/DejaVuSerif-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'DejaVu Serif Italic';
    src: url('/fonts/DejaVuSerif-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('/fonts/DejaVuSerif.ttf') format('truetype');
}

@font-face {
    font-family: 'DejaVu Serif Condensed Bold';
    src: url('/fonts/DejaVuSerifCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DejaVu Serif Condensed Bold Italic';
    src: url('/fonts/DejaVuSerifCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'DejaVu Serif Condensed Italic';
    src: url('/fonts/DejaVuSerifCondensed-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'DejaVu Serif Condensed';
    src: url('/fonts/DejaVuSerifCondensed.ttf') format('truetype');
}

/* --- Freebooter Script --- */
@font-face {
    font-family: 'Freebooter Script';
    src: url('/fonts/freebooterscript.ttf') format('truetype');
}

/* --- French Script --- */
@font-face {
    font-family: 'French Script MT';
    src: url('/fonts/Frscript.TTF') format('truetype');
}

/* --- Garamond --- */
@font-face {
    font-family: 'Garamond';
    src: url('/fonts/GARA.TTF') format('truetype');
}

@font-face {
    font-family: 'Garamond 3 LT Std Bold';
    src: url('/fonts/Garamond3LTStd-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Garamond 3 LT Std Bold Italic';
    src: url('/fonts/Garamond3LTStd-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Garamond 3 LT Std Italic';
    src: url('/fonts/Garamond3LTStd-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Garamond 3 LT Std';
    src: url('/fonts/Garamond3LTStd.otf') format('opentype');
}

/* --- Graphik --- */
@font-face {
    font-family: 'Graphik Medium';
    src: url('/fonts/Graphik-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik Medium Italic';
    src: url('/fonts/Graphik-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/Graphik-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik Regular Italic';
    src: url('/fonts/Graphik-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik Semibold';
    src: url('/fonts/Graphik-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik Thin';
    src: url('/fonts/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik Thin Italic';
    src: url('/fonts/Graphik-ThinItalic.otf') format('opentype');
}

/* --- Great Vibes --- */
@font-face {
    font-family: 'Great Vibes';
    src: url('/fonts/Great Vibes.ttf') format('truetype');
}

/* --- Honey Script --- */
@font-face {
    font-family: 'Honey Script Light';
    src: url('/fonts/HONEYSCL.TTF') format('truetype');
}

@font-face {
    font-family: 'Honey Script SemiBold';
    src: url('/fonts/HONEYSSB.TTF') format('truetype');
}

/* --- I Love Glitter --- */
@font-face {
    font-family: 'I Love Glitter';
    src: url('/fonts/I Love Glitter.ttf') format('truetype');
}

/* --- Machine BT --- */
@font-face {
    font-family: 'Machine BT';
    src: url('/fonts/machinen.ttf') format('truetype');
}

/* --- Murray Hill --- */
@font-face {
    font-family: 'Murray Hill Regular';
    src: url('/fonts/Murray Hill Regular.ttf') format('truetype');
}

/* --- Monotype Corsiva --- */
@font-face {
    font-family: 'Monotype Corsiva';
    src: url('MonotypeCorsiva.woff2') format('woff2'), url('MonotypeCorsiva.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* --- Noto Rashi Hebrew --- */
@font-face {
    font-family: 'Noto Rashi Hebrew Black';
    src: url('/fonts/NotoRashiHebrew-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Rashi Hebrew Bold';
    src: url('/fonts/NotoRashiHebrew-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Rashi Hebrew ExtraBold';
    src: url('/fonts/NotoRashiHebrew-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Rashi Hebrew ExtraLight';
    src: url('/fonts/NotoRashiHebrew-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Rashi Hebrew Light';
    src: url('/fonts/NotoRashiHebrew-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Rashi Hebrew Medium';
    src: url('/fonts/NotoRashiHebrew-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Rashi Hebrew Regular';
    src: url('/fonts/NotoRashiHebrew-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Rashi Hebrew SemiBold';
    src: url('/fonts/NotoRashiHebrew-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Rashi Hebrew Thin';
    src: url('/fonts/NotoRashiHebrew-Thin.ttf') format('truetype');
}

/* --- Old English --- */
@font-face {
    font-family: 'Old English Text MT';
    src: url('/fonts/OLDENGL.TTF') format('truetype');
}

/* --- Planscribe --- */
@font-face {
    font-family: 'Planscribe NF W01 Regular';
    src: url('/fonts/Planscribe NF W01 Regular.ttf') format('truetype');
}

/* --- Rajdhani --- */
@font-face {
    font-family: 'Rajdhani Bold';
    src: url('/fonts/Rajdhani-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rajdhani Light';
    src: url('/fonts/Rajdhani-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Rajdhani Medium';
    src: url('/fonts/Rajdhani-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Rajdhani Regular';
    src: url('/fonts/Rajdhani-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rajdhani SemiBold';
    src: url('/fonts/Rajdhani-SemiBold.ttf') format('truetype');
}

/* --- Times New Roman --- */
@font-face {
    font-family: 'Times New Roman';
    src: url('/fonts/TIMES.TTF') format('truetype');
}

@font-face {
    font-family: 'Times New Roman Bold';
    src: url('/fonts/timesbd.ttf') format('truetype');
}

@font-face {
    font-family: 'Times New Roman Bold Italic';
    src: url('/fonts/timesbi.ttf') format('truetype');
}

@font-face {
    font-family: 'Times New Roman Italic';
    src: url('/fonts/timesi.ttf') format('truetype');
}

/* --- Zapf Chancery --- */
@font-face {
    font-family: 'ITC Zapf Chancery Roman';
    src: url('/fonts/Zapf Chancery Font.otf') format('opentype');
}

/* --- Zapf Humanist --- */
@font-face {
    font-family: 'Zapf Humanist 601 Demi BT';
    src: url('/fonts/ZHUM601D.TTF') format('truetype');
}
